@use 'variables';

.button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: variables.$border-radius-lg; // Using variable for border-radius
  text-decoration: none;
  font-size: variables.$base-font-size; // Using variable for font-size
  font-weight: variables.$font-weight-bold; // Using variable for font-weight
  text-align: center;
  height: 56px;
  width: 100%;
  border: 0;
  transition: background-color 0.3s ease;

  &.primary {
    background-color: variables.$primary-color;
    color: variables.$white-color;

    &:hover {
      background-color: lighten(variables.$primary-color, 10%);
    }
  }

  &.secondary {
    background-color: variables.$secondary-color;
    color: variables.$white-color;

    &:hover {
      background-color: lighten(variables.$secondary-color, 10%);
    }
  }

  &.success {
    background-color: variables.$success-color;
    color: variables.$white-color;

    &:hover {
      background-color: lighten(variables.$success-color, 10%);
    }
  }

  &.warning {
    background-color: variables.$warning-color;
    // Assuming text on warning buttons should be dark for better contrast with yellow
    color: variables.$dark-color;

    &:hover {
      background-color: lighten(variables.$warning-color, 10%);
    }
  }

  &.danger {
    background-color: variables.$danger-color;
    color: variables.$white-color;

    &:hover {
      background-color: lighten(variables.$danger-color, 10%);
    }
  }
}
